#title {
    color : #800000;
    margin-top: 70px;
    margin-bottom: 50px;
}
#title #logo{
    font-size: 55px;
}
#title #by{
    font-size: 20px;
}

#category {
    width : 70%;
    margin : 15%;
    margin-top: 0px;
}
#category ul {
    list-style: none ;
    padding: 0px;
}
#category ul li {
    border-bottom : 1px solid #800000 ;
    height: 66px;

}
#category ul li p {
    color : #800000;
    font-size: 30px ;
    text-align: left;
    display: inline;
}
#category ul li h3 {
    color : #800000;
    font-size: 20px ;
    text-align: left;
    display: inline;
}


